<mat-card class="my-3">
  <mat-tab-group>
    <mat-tab label="Formulaire avec étape">
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>Création</ng-template>
          <div class="row d-flex justify-content-center">
            <div class="row col-4">
              <mat-form-field>
                <input matInput placeholder="Nom de l'assignment" [(ngModel)]="newAssignment.nom" name="nom" required>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Date de rendu</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="newAssignment.dateDeRendu" name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button [disabled]="!newAssignment.nom || !newAssignment.dateDeRendu" class="btn btn-primary col-3"
                      matStepperNext>Suivant{{' >>'}}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Assignment</ng-template>
          <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex align-items-center">
              <label class="col-3 fw-bold">Matière : </label>
              <angular2-multiselect class="form-control form-control-sm"
                                    [data]="matieresList"
                                    [(ngModel)]="selectedMatiere"
                                    (onDeSelect)="onMatiereDeSelect($event)"
                                    (onSelect)="onMatiereSelect($event)"
                                    [settings]="settings">
              </angular2-multiselect>
            </div>
            <div class="col-6 d-flex align-items-center">
              <label class="col-3 fw-bold">Elève : </label>
              <angular2-multiselect class="form-control form-control-sm"
                                    [data]="studentList"
                                    [(ngModel)]="selectedStudent"
                                    (onDeSelect)="onStudentDeSelect($event)"
                                    (onSelect)="onStudentSelect($event)"
                                    [settings]="settings">
              </angular2-multiselect>
            </div>
            <div class="row mt-2 d-flex align-items-center">
              <div class="col-6">
                <app-detail-matiere *ngIf="matiere" [matiere]="matiere"></app-detail-matiere>
              </div>
              <div class="col-6">
                <app-detail-user *ngIf="student" [user]="student"></app-detail-user>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button class="col-4 mr-1 btn btn-dark" matStepperPrevious>{{'<< '}}Retour</button>
            <button [disabled]="!newAssignment.matiere || !newAssignment.auteur" class="col-4 ml-1 btn btn-primary"
                    matStepperNext>Suivant{{' >>'}}</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Note et remarques</ng-template>
          <div class="row d-flex justify-content-center">
            <div class="col-5 d-flex justify-content-center">
              <mat-form-field>
                <input matInput placeholder="Note /20" [(ngModel)]="newAssignment.note" type="number" min="0" max="20"
                       name="note">
              </mat-form-field>
            </div>
            <div class="col-8">
              <textarea class="form-control" placeholder="Remarques" [(ngModel)]="newAssignment.remarque"></textarea>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-3">
            <button class="col-4 mr-1 btn btn-dark" matStepperPrevious>{{'<< '}}Retour</button>
            <button class="col-4 ml-1 btn btn-primary" matStepperNext>Suivant{{' >>'}}</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Résumé</ng-template>
          <div class="d-flex justify-content-center">
            <div class="col-6" *ngIf="newAssignment">
              <app-assignment-detail [assignment]="newAssignment"></app-assignment-detail>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-3">
            <button class="col-3 btn btn-dark" matStepperPrevious>{{'<< '}}Retour</button>
            <button class="col-3 mx-1 btn btn-warning">Réinitialiser</button>
            <button class="col-3 btn btn-primary" (click)="save()" matStepperNext>Enregistrer</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-tab>
    <mat-tab label="Ajout multiple">

    </mat-tab>
  </mat-tab-group>
</mat-card>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->


<!--
<form ngForm #assignmentForm (submit)="onSubmit(); assignmentForm.reset()" class="form">
  <mat-form-field>
    <input matInput placeholder="Nom de l'assignment" [(ngModel)]="nomAssignment" name="nom" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

    <button mat-stroked-button color="primary" [disabled]="((!this.nomAssignment) || (!this.dateDeRendu))">
      Ajouter un devoir
    </button>
</form>
-->
