<div class="card">
  <div class="card-body">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 col-lg-4 d-flex justify-content-center" style="height: 75px">
        <img class="img-fluid" src="{{matiere.image}}" alt="">
      </div>
      <h3 class="text-center my-1">{{matiere.nomMatiere}}</h3>
      <div class="d-flex justify-content-center align-items-center rounded-circle bg-info py-2">
        <img src="{{matiere.professeur.image}}" alt="" class="rounded-circle" width="50px">&nbsp;&nbsp;
        <h4>{{matiere.professeur.name}}</h4>
      </div>
    </div>
  </div>
</div>
